h1 {
    background-color: black;
    color: white;
}

h1 span {
    color: aqua;
}

h2 {
    
    background-color: purple;
    color: white;
    font-style: italic;
    text-align: center;
}

h3 {
    
    background-color: lightblue;
    color: black;
    text-decoration: underline;
    text-align: right;
}

