<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <h3 class="text-center">Dojo Survey</h3>
    <form class="" action="/result" method="post">
        <ul>
            <li>
                Name:<input type="text" name="name">
            </li>
            <li>
                Favorite Language: <select class="" name="language">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                </select>
            </li>
            <li>
                Dojo Location: <select class="" name="location">
                    <option value="Seattle">Seattle</option>
                    <option value="San Jose">San Jose</option>
                </select>
            </li>
            <li>
                Comment(optional):<textarea name="comment" rows="8" cols="40"></textarea>
            </li>
            <li>
                <input type="submit" name="Submit">
            </li>
        </ul>
    </form>
</body>

</html>